<div class="header-left">
    <a href="index.html">
            <img src="logo.png" alt="Logo" style="height: 40px; width: 40px; display: block;">
    </a>
    
    <nav>
        <a href="index.html">HOME</a>
        <a href="https://store.villagev.com">STORE</a>
        <a href="#">BLOG</a>
        <a href="#">FAQ</a>
    </nav>
</div>

<div class="social-icons">
    <a href="https://youtube.villagev.com" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
    <a href="https://discord.villagev.com" target="_blank" title="Discord"><i class="fab fa-discord"></i></a>
    <a href="https://bluesky.villagev.com" target="_blank" title="Bluesky"><i class="fa-solid fa-cloud"></i></a>
    <a href="https://instagram.villagev.com" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://tiktok.villagev.com" target="_blank" title="TikTok"><i class="fab fa-tiktok"></i></a>
</div>
